/* ofertas */
.cont-ofertas{
    margin-top: 8.3rem;
    z-index: 0;
    height: auto;
    background-image: url(../assets/img/images/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.ofertas-title{
    text-align: center;
    font-weight: bold;
    color: #000;
}

.envios-img{
    text-align: center;
    padding-top: 1rem;

}